/* ==============================================================================================
Sass variables 
============================================================================================== */
/* ==============================================================================================

  Fonts 
  To add fonts use fontPrep https://github.com/briangonzalez/fontprep to create font

  To create a custom set of fonts convert to hex and use subset of fontprep or other font 
  conversion tool -  http://www.unit-conversion.info/texttools/hexadecimal/ 
 
============================================================================================== */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#mainContent {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 250px;
  cursor: pointer;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 1px solid black;
  background: #FFF; }

#bg-exit {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 250px;
  cursor: pointer;
  border-radius: 12px; }
