
/* ==============================================================================================
Sass variables 
============================================================================================== */ 

//  Colours
$white: #fff;
$blue: #fff;
$backgroundColor: #FFF;

//  Banner size
$width: 300px;
$height: 250px;
 

/* ==============================================================================================

  Fonts 
  To add fonts use fontPrep https://github.com/briangonzalez/fontprep to create font

  To create a custom set of fonts convert to hex and use subset of fontprep or other font 
  conversion tool -  http://www.unit-conversion.info/texttools/hexadecimal/ 
 
============================================================================================== */


html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
