// @import '_reset';
@import '_config';
@import '_mixins';
body
{
    margin: 0;
    padding: 0;
    // padding: 100px;

    color: $blue;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#mainContent
{
    position: relative;

    overflow: hidden;

    // border-radius:20px;

    width: $width;
    height: $height;

    cursor: pointer;
    transform: rotate(0deg);

    border: 1px solid black;
    background: $backgroundColor;
   
}

#bg-exit
{
    position: absolute;
    top: 0;
    left: 0;

    width: $width;
    height: $height;

    cursor: pointer;

    border-radius: 12px;
}
